doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/min.css')

    block head
  body
    script(src='/js/Chart.js')
    script(src='/js/jquery.min.js')
    script(src='/js/min.js')
    block content
